data/raw-data/
*.mat
data/raw_data/ZuCo1/task_materials/*.csv
data/raw_data/ZuCo1/revised_csv/*.csv
data/raw_data/ZuCo2/task_materials/*.csv
data/raw_data/ZuCo2/revised_csv/*.csv
data/raw_data/ZuCo2_benchmarking/*.mat
data/raw_data/ZuCo2_benchmarking/features/features/*.csv
data/raw_data/ZuCo2_benchmarking/features/features/*.npy

data/tmp/zuco_eeg_128ch_1280len.df
data/tmp/zuco_eeg_label_8variants.df
data/tmp/zuco_eeg_benchmarking.df
data/tmp/zuco_eeg_label_benchmarking.df
data/tmp/zuco_label_8variants.df

evaluations/v1/*.pkl
evaluations/v1/*.txt
evaluations/v2/*.pkl
evaluations/v2/*.txt

pretraining/pretrain_plot_comparison/*.png
pretraining/pretrain_plot_comparison/*.md

*.zip

eda_figures/*.png
data/tmp/note-on-preprocessing.md

glim-trained-checkpoint/*.ckpt

pretrain_plots/*.png
pretrain_plots/*.md

e2t-jepapretrain.ipynb

# pretraining/Results/GLIM_Pretrain5/*pth
pretraining/pretrain_plots_baseline/*.png
pretraining/pretrain_plots_baseline/*.md


pretraining/pretrain_plots_pretrain5/*.png
pretraining/pretrain_plots_pretrain5/*.md

results/eeg-to-text/*.md
results/eeg-to-text/*.json
results/eeg-to-text/v1/*.json
results/eeg-to-text/v1/*.md
results/eeg-to-text/v2/*.json
results/eeg-to-text/v2/*.md

runs/dev-dist-test/
runs/dev-dist-test/**/*.yaml
runs/dev-dist-test/**/*.log
runs/dev-dist-test/**/*.ckpt
runs/dev-dist-test/**/*.txt
runs/dev-dist-test/**/*.json
runs/dev-dist-test/**/*.png
runs/dev-dist-test/**/*.md
runs/dev-dist-test/**/*.png
runs/dev-dist-test/**/*.wandb

thesis/

#any pycache files
data/__pycache__
**/__pycache__

runs/v1/epoch=199-step=397600.ckpt
runs/v2/epoch=199-step=397600.ckpt


*.ckpt

demo/test/*

results/wandb-direct-evaluation/*
results/predictions/*